h3, h4, h5, h6 {
 font-family: adobe-caslon-pro;
}

h1 {
 font-family: adobe-caslon-pro;
 font-size: 20px;
 font-style: italic;
 font-weight: 100;
}

h2 {
 font-family: adobe-caslon-pro;
 font-size: 20px;
 font-style: italic;
 font-weight:600;
}

img{
    max-width: 300px;
}

.topnav a{
    padding-right:10px;
}

.bunny {
    display:inline;
}

.bunny:hover .bunnytext{
    visibility: visible;
}

.bunnytext{
    visibility: hidden;
    color: black;
    font-family: sans-serif;
    font-size: x-small;
    padding-left: 2px;
}

.gallery img{
    border: 2px;
    border-style: solid;
    border-color: rgb(0, 0, 255);
    width: 140px;
    
}

.gallery{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:fit-content;
    row-gap:10px;
    column-gap:10px;
    padding:10px;
    justify-content: flex-start;

}

.content{
    width: 50%;
    margin: auto;
}

@media only screen and (max-width: 600px) {
  .content{
    width: 90%;
    padding:0;
}

.gallery{
    justify-content: center;

}

.gallery img{
    width: 45%;
    
}
}
