
.about-image{
  height: auto;
  width:25vw;
  max-width:460px;
}

.about{
  display: flex;
  flex-direction: row;
  padding-top:100px;
  align-items: top;
  width:80vw;
  margin:auto;
  }

.about-text-container{
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 460px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .about{
    flex-direction:column;
  }
  .about-image{
    width:100%;
  }
  .about-text-container{
    margin-left:0px;
  }
}
