
.about-image{
  height: auto;
  width:100%;
  max-width:460px;
}


.about{
  display: flex;
  flex-direction: row;
  padding-top:100px;
  align-items: top;
  width:80vw;
  margin:auto;
  max-width:1800px;
  }

.about-text-container{
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 480px;
}

.about-contact{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-shrink: 0;
  row-gap: 10px;

  width:100%;
  max-width:460px;

  text-align: left;
  vertical-align: middle;
  margin-top:20px;
}

.button{
  padding: 6px 18px 6px 18px; 
  border-radius:50px; 
  background-color: #237FD9;
  transition:.8s;
}

.button-text{
  font-size: 14px; 
  color: #ffffff; 
  text-decoration: none; 
  display: inline-block;
}

.button-text:hover{
  color:#ffffff;
}

.button:hover{
  background-color: #FD6C01;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .about{
    flex-direction:column;
  }
  .about-image{
    width:100%;
    margin-bottom:8px;
  }
  .about-contact{
    width:100%;
    margin-top:12px;
  }
  .about-text-container{
    margin-left:0px;
    margin-bottom:50px;
  }
}
