
body{
  font-family: 'Fira Sans', sans-serif;
  margin: 0px;
  overflow-x: hidden;
  background-color: #FFFBF6;
}

header{
  width:80vw;
  margin:auto;
}



a{
  transition: .5s;
}
a:hover{
  color:#FD6C01;
}

mark{
  background-color: #e7e7f4;
}

.nav-container{
  width:80vw;
  margin:auto;
  height:100px;
  position: fixed;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width:1800px;
}

.nav-container a{
  display: flex;
  flex-direction: row;
  font-weight: 600;
  

}

.nav-box{
  width:100vw;
  height:100px;
  position: fixed;
  top:0px;
  left:0px;
  overflow: hidden;
  background-color: rgba(255, 251, 246, .95);
  display: flex;
  justify-content: center;
  z-index: 100;

}

#page-nav{
  display: grid;
  grid-template-columns: repeat(4, min-content);
  grid-gap: 54px;
}

.active{
  text-decoration: underline;
  color: black;
  transition: .8s;
  font-size: 1.17em;
}

.inactive{
  color: black;
  text-decoration: none;
  transition: .8s;
  font-size: 1.17em;
}

#page-nav a:hover{
  text-decoration: underline;
  color:#FD6C01;
}

#name a{
  font-size: 26px;
  text-decoration: none;
  color:#237FD9;
}

#name-logo{
  display:none;

}

#name-logo img{
  width:50px;
  height:50px;
  position: relative;
  top:5px;
  padding-right:15px;
}

header{
  max-width:1800px;
}


.intro-bio{
  padding-top:100px;
  display:flex;
  flex-direction: row;

  margin-bottom:30px;
}

.intro-image {
  height: 180px;
  width: 180px;
}

.intro-text{
  width:440px;
  padding-left: 40px;
  max-height: 180px;
}

.work-container {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  align-items: center;
  justify-content: space-between;
  width:80vw;
  margin:auto;
  column-gap: .5rem;
  max-width:1800px;
  margin-bottom:50px;
}

.item {

  width:31%;
  margin:auto;
  margin-left:0px;
  margin-right:0px;
  padding-bottom: 10px;
  margin-top:0px;

}

.item img{
    object-fit: cover;
    height:65%;
    width:100%;
    transition: .8s;
    opacity: 0.9;

}

.item img:hover{
  border-radius:20px;
  opacity: 1;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .item {
    width:100%;
  }

  #page-nav{
    grid-gap: 20px;
  }

  .intro-text{
    width:100vw;
    padding-left: 28px;
  }

  #name{
    display:none;
  }

  #name-logo{
    display:block;
  }
}


.item-caption p{
  color: #7C7C7C;
}


