
body{
  font-family: 'Fira Sans', sans-serif;
  margin: 0px;
}


header{
  width:90vw;
  margin:auto;
}

.nav-container{
  width:90vw;
  margin:auto;
  padding-left: 20px;
  height:100px;
  position: fixed;
  z-index: 100;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#page-nav{
  display: flex;
  flex-direction: row;
}

#name{
  display: flex;
  flex-direction: row;
  padding-left:20px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
}

.nav-link{
  padding-right: 15px;
}

.intro-bio{
  padding-top:100px;
  display:flex;
  flex-direction: row;

  margin-bottom:20px;
}

.intro-image {
  height: 200px;
  width: 200px;
}

.intro-text{
  width:23vw;
  padding-left: 40px;
}

.work-container {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  align-items: center;
  justify-content: space-between;
  width:90vw;
  margin:auto;
}

.item {
  width:30%;
  margin:auto;
  margin-left:0px;
}

.item img{
    object-fit: cover;
    height:65%;
    width:100%;
}
