.photo-text-container{
    width:80vw;
    max-width:1800px;
    margin:auto;
    padding-top:100px;
    margin-bottom:30px;

    display:flex;
    flex-direction:row;
    align-items: flex-end;
    column-gap: 26px;
}

.photo-text-container img{
    height: 180px;
    width: 260px;
    object-fit: cover;
}

.photo-text{
    max-width:500px;
}

#container{
    width: 100%;
    max-width:1800px;
    margin:auto;
}

.image-gallery{

    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap:1.5rem;
    column-gap:1.5rem;
    margin-bottom:50px;
    width:100%;

    
    
}

.image-gallery img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    transition:.8s;
}

.image-gallery img:hover{
    border-radius:20px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    .photo-text-container img{
        display: none;
        
    }

    .photo-text-container{
        margin-bottom:10px;
    }

    .image-gallery img{
        pointer-events: none; 
    }
}