
.work-image{
  height: auto;
  width:100%;

}

a .work-image{
  transition: .8s;
  opacity: 0.9;
}

a .work-image:hover{
border-radius:20px;
opacity: 1;
}

.work-image-container{
  display: flex;
  flex-direction: column;
  row-gap:18px;
  width:50%;
}

.video{
  aspect-ratio: 16 / 9;
}

.gallery-video{
  aspect-ratio: 16 / 9;
  width:100%;
}

.work{
  display: flex;
  flex-direction: row;
  padding-top:100px;
  align-items: top;
  width:80vw;
  margin:auto;
  justify-content: space-between;
  margin-bottom:30px;
  }

.work-text-container{
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  width:50%;
}

.gallery-container {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  width:80vw;
  margin:auto;

}

.gallery-item {

  width:30%;
  flex-shrink: 0;
  margin:auto;
  margin-left:0px;
  padding-bottom: 10px;
  margin-top:0px;
}

.gallery-item img{
    object-fit: cover;
    height:65%;
    width:100%;

}

.twitter-tweet{
  margin-top: 0px !important;
}



@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .work{
    flex-direction:column;
  }
  .work-image{
    width:100%;
  }
  .work-text-container{
    margin-left:0px;
  }

  .work-image-container{
    width:100%;
  }

  .video{
    width:100%;
  }
  .work-text-container{
    width:100%;
  }

  .gallery-container{
    flex-direction: column;
  }

  .gallery-item{
    width:100%;
  }
}
